@color-primary: #04BE02;
@color-danger: #f6383a;
@color-warning: #f60;
@color-success: #4cd964;
@color-yellow: #FF4500;
@color-grey: #aaa;
@primary-color: #56bb36;
@border-color: #d9d9d9;
@text-50: 50px;
@text-45: 45px;
@text-40: 40px;
@text-35: 35px;
@text-30: 30px;
@text-25: 25px;
@text-20: 20px;
@text-1: 1px;
@text-2: 2px;
@text-3: 3px;
@text-4: 4px;
@text-5: 5px;
@text-6: 6px;
@text-7: 7px;
@text-8: 8px;
@text-9: 9px;
@text-10: 10px;
@text-11: 11px;
@text-12: 12px;
@text-13: 13px;
@text-14: 14px;
@text-15: 15px;
@text-16: 16px;
@text-17: 17px;
@text-18: 18px;
@text-19: 19px;
// escape(@string); // 通过 URL-encoding 编码字符串
// e(@string); // 对字符串转义
// %(@string, values...); // 格式化字符串
// unit(@dimension, [@unit: ""]); // 移除或替换属性值的单位
// color(@string); // 将字符串解析为颜色值
// data-uri([mimetype,] url); // * 将资源内嵌到css中，可能回退到url()
// ceil(@number); // 向上取整
// floor(@number); // 向下取整
// percentage(@number); // 将数字转换为百分比，例如 0.5 -> 50%
// round(number, [places: 0]); // 四舍五入取整
// sqrt(number); // * 计算数字的平方根
// abs(number); // * 数字的绝对值
// sin(number); // * sin函数
// asin(number); // * arcsin函数
// cos(number); // * cos函数
// acos(number); // * arccos函数
// tan(number); // * tan函数
// atan(number); // * arctan函数
// pi(); // * 返回PI
// pow(@base, @exponent); // * 返回@base的@exponent次方
// mod(number, number); // * 第一个参数对第二个参数取余
// convert(number, units); // * 在数字之间转换
// unit(number, units); // * 不转换的情况下替换数字的单位
// color(string); // 将字符串或者转义后的值转换成颜色
// rgb(@r, @g, @b); // 转换为颜色值
// rgba(@r, @g, @b, @a); // 转换为颜色值
// argb(@color); // 创建 #AARRGGBB 格式的颜色值
// hsl(@hue, @saturation, @lightness); // 创建颜色值
// hsla(@hue, @saturation, @lightness, @alpha); // 创建颜色值
// hsv(@hue, @saturation, @value); // 创建颜色值
// hsva(@hue, @saturation, @value, @alpha); // 创建颜色值
// hue(@color); // 从颜色值中提取 hue 值（色相）
// saturation(@color); // 从颜色值中提取 saturation 值（饱和度）
// lightness(@color); // 从颜色值中提取 'lightness' 值（亮度）
// hsvhue(@color); // * 从颜色中提取 hue 值，以HSV色彩空间表示（色相）
// hsvsaturation(@color); // * 从颜色中提取 saturation 值，以HSV色彩空间表示（饱和度）
// hsvvalue(@color); // * 从颜色中提取 value 值，以HSV色彩空间表示（色调）
// red(@color); // 从颜色值中提取 'red' 值（红色）
// green(@color); // 从颜色值中提取 'green' 值（绿色）
// blue(@color); // 从颜色值中提取 'blue' 值（蓝色）
// alpha(@color); // 从颜色值中提取 'alpha' 值（透明度）
// luma(@color); // 从颜色值中提取 'luma' 值（亮度的百分比表示法）
// saturate(@color, 10%); // 饱和度增加 10%
// desaturate(@color, 10%); // 饱和度降低 10%
// lighten(@color, 10%); // 亮度增加 10%
// darken(@color, 10%); // 亮度降低 10%
// fadein(@color, 10%); // 透明度增加 10%
// fadeout(@color, 10%); // 透明度降低 10%
// fade(@color, 50%); // 设定透明度为 50%
// spin(@color, 10); // 色相值增加 10
// mix(@color1, @color2, [@weight: 50%]); // 混合两种颜色
// greyscale(@color); // 完全移除饱和度，输出灰色
// contrast(@color1, [@darkcolor: black], [@lightcolor: white], [@threshold: 43%]); // 如果 @color1 的 luma 值 > 43% 输出 @darkcolor，否则输出 @lightcolor
// multiply(@color1, @color2);
// screen(@color1, @color2);
// overlay(@color1, @color2);
// softlight(@color1, @color2);
// hardlight(@color1, @color2);
// difference(@color1, @color2);
// exclusion(@color1, @color2);
// average(@color1, @color2);
// negation(@color1, @color2);
// iscolor(@colorOrAnything); // 判断一个值是否是颜色
// isnumber(@numberOrAnything); // 判断一个值是否是数字（可含单位）
// isstring(@stringOrAnything); // 判断一个值是否是字符串
// iskeyword(@keywordOrAnything); // 判断一个值是否是关键字
// isurl(@urlOrAnything); // 判断一个值是否是url
// ispixel(@pixelOrAnything); // 判断一个值是否是以px为单位的数值
// ispercentage(@percentageOrAnything); // 判断一个值是否是百分数
// isem(@emOrAnything); // 判断一个值是否是以em为单位的数值
// isunit(@numberOrAnything, "rem"); // * 判断一个值是否是指定单位的数值
body {
    .auth-header {
        padding: 35px 0;
        .auth-title {
            text-align: center;
            font-size: 34px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }
        .auth-sub-title {
            text-align: center;
            color: #888;
            font-size: 14px;
        }
        .auth-second-title {
            text-align: center;
            font-size: 24px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }
    }
    .text-center{
        text-align: center;
        *{
            margin: 0 auto;
        }
    }
    .help-block {
        color: red;
    }
    .login {
        .login-error {
            justify-content: center;
            align-items: center;
        }
        .login-submit {
            width: 80%;
            margin: 5px auto;
        }
        .login-forget {
            position: absolute;
            right: 10%;
            bottom: 0;
            padding: 0;
            margin: 0;
            .weui_btn_primary {
                margin: 0px;
            }
        }
        .login-row {
            padding: 10px 10%;
            position: relative;
            display: flex;
            align-items: center;
        }
    }
    .register {
        .login-error {
            justify-content: center;
            align-items: center;
        }
        .login-submit {
            width: 80%;
            margin: 5px auto;
        }
        .login-row {
            padding: 10px 10%;
            position: relative;
            display: flex;
            align-items: center;
        }
    }
    div.swiper-container {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 150px;
        .swiper-slide {
            img {
                width: 100%;
                height: 150px;
            }
        }
    }
    div.message {
        text-align: center;
        padding: 40% 0;
        .none {
            display: inline-block;
            font-size: 30px;
            color: @color-grey;
            margin: 0 auto;
        }
    }
    div.category {
        margin: 5px 0;
        padding: 5px 2px;
        border-top: 1px solid @border-color;
        border-bottom: 1px solid @border-color;
        white-space: nowrap;
        font-size: 20px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: none;
        .category_item {
            display: inline-block;
            color: black;
            margin: 0 5px;
        }
        a:visited {
            color: black;
        }
        > a.active {
            color: @primary-color;
        }
    }
    div.tags {
        width: 100%;
        padding: 3px;
        text-align: left;
        box-sizing: border-box;
        .tag {
            display: inline-block;
            font-size: 12px;
            color: @primary-color;
            border: 1px solid #bbbbbb;
            border-radius: 10px;
            padding: 0 8px;
            margin: 1px;
            text-align: center;
        }
        > .active {
            color: white;
            background: @primary-color;
            border: 1px solid @primary-color;
        }
    }
    div.weui_tabbar {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px 0;
        background: white;
        * {
            font-size: 15px;
        }
        .weui_tabbar_item {
            padding-top: 0px;
        }
        .weui_tabbar_label {
            margin-top: 0px;
            i {
                margin-right: 5px;
            }
        }
    }
    div.filter-container {
        width: 100%;
        padding: 0;
        border-top: 1px solid @border-color;
        border-bottom: 1px solid @border-color;
        font-size: 12px;
        i {
            margin-left: 5px;
            color: @border-color;
        }
        [class*="weui-col-"] {
            border-right: 1px solid @border-color;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        .catgory2 {
            display: block;
            width: 33%;
            left: 0;
            top: 0;
            a {
                display: block;
                width: 100%;
                text-align: center;
                font-size: 5px;
                border: 1px solid #bbbbbb;
            }
        }
    }
    div.home_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 100px;
        div.right {
            width: 100%;
            .good_item {
                margin: 0;
                // border-bottom: 1px solid @border-color;
                width: 100%;
                .weui_media_box {
                    padding: 3px;
                    position: relative;
                    .weui_media_hd {
                        margin-right: 3px;
                    }
                    .weui_media_bd {
                        min-width: 0;
                        padding: 0;
                        margin: 0;
                        width: 60%;
                        .weui_media_title {
                            font-size: @text-15;
                        }
                    }
                    .cart {
                        position: relative;
                        text-align: center;
                        right: 5px;
                        bottom: -20px;
                        font-size: 1.5em;
                        transform: translate(0, -50%);
                        a {
                            display: inline-block;
                            margin: 0;
                            padding: 0 2px;
                            text-align: center;
                            color: @color-grey;
                        }
                        span {
                            display: inline-block;
                            text-align: center;
                            margin: 0;
                            padding: 0 2px;
                            text-align: center;
                            color: @color-grey;
                        }
                    }
                }
            }
            .market-price {
                text-decoration: line-through;
                color: @color-grey;
            }
            .shop-price {
                font-size: @text-15;
                font-weight: bold;
                color: red;
            }
            .weui_media_box {
                padding: 5px;
            }
            .summary {
                font-size: @text-12;
            }
        }
    }
    div.shopping {
        display: block;
        position: relative;
        div.shopping-cart {
            display: block;
            position: fixed;
            background: hsla(0, 0, 0, 0.2);
            width: 40px;
            height: 40px;
            bottom: 60px;
            left: 15px;
            font-size: 40px;
            line-height: 40px;
            border-radius: 20px;
            background-size: 30px 30px;
            z-index: 100;
            color: @primary-color;
            .shopping-cart-count {
                position: absolute;
                display: block;
                width: 1.5em;
                height: 1.5em;
                line-height: 1.5em;
                text-align: center;
                font-size: 12px;
                background: red;
                border-radius: 50%;
                top: -2px;
                right: -2px;
                color: white;
                z-index: 100;
            }
        }
        .shopping-cart-detail {
            display: none;
            position: fixed;
            border-radius: 10px;
            bottom: 90px;
            left: 10%;
            width: 80%;
            height: 70%;
            background: rgba(200, 200, 200, 0.8);
            padding: 5px;
            margin: 0;
            z-index: 1;
            div.weui_panel {
                position: relative;
                height: 100%;
            }
            div.weui_panel_bd {
                height: 90%;
                overflow-y: scroll;
            }
            .cart-op {
                margin: 0;
                padding: 0;
                position: absolute;
                right: 10px;
                top: 10px;
            }
            .cart-close {
                display: inline-block;
                background: rgba(200, 200, 200, 0.5);
                position: absolute;
                border-radius: 60%;
                top: 10px;
                right: 10px;
                width: 26px;
                height: 26px;
                color: red;
                text-align: center;
            }
            .cart-button {
                display: inline-block;
                background: white;
                position: absolute;
                bottom: 0;
                border-top: 1px solid #d9d9d9;
                display: inline-block;
                width: 100%;
                height: 10%;
                text-align: center;
            }
        }
    }
    div.cart-container {
        max-width: 100%;
        span.cart-op {
            * {
                font-size: 30px;
                line-height: 30px;
            }
        }
        .weui_media_box:before {
            left: 0;
        }
    }
    .shopping-cart-check {
        border-radius: 10px;
        width: 80%;
        background: rgba(200, 200, 200, 0.8);
        padding: 5px;
        margin: 10px auto;
        z-index: 1;
        .amount {
            color: red;
        }
        .total {
            position: absolute;
            right: 0;
            margin-right: 10px;
            color: red;
        }
        .cart-button {
            border-top: 1px solid #d9d9d9;
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }
    .check-header {
        padding: 35px 0;
        .check-title {
            text-align: center;
            font-size: 34px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }
    }
    /**

    我的页面
    */
    .profile {
        .profile_top {
            display: block;
            position: relative;
            width: 100%;
            height: 200px;
            background: @color-primary;
            color: white;
            .profile-row {
                position: relative;
                a {
                    margin: 0;
                }
                .right {
                    position: absolute;
                    right: 0;
                }
            }
            .avatar {
                position: absolute;
                width: 80px;
                height: 64px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                .avatar_image {
                    margin: auto;
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    border-radius: 0;
                    border: transparent;
                    color: white;
                }
            }
        }
        .order {
            display: flex;
            width: 100%;
            border-bottom: solid 1px #ddd;
            .item {
                flex: 1;
                padding: 5px 0;
                border: 0;
                border-right: solid 1px #ddd;
                .weui_tabbar_label {
                    color: @color-primary;
                    font-size: @text-15;
                }
            }
        }
    }
    div.cart-submit-container {
        max-width: 100%;
        width: 100%;
        position: fixed;
        bottom: 40px;
        background: hsla(360, 50%, 50%, .5);
        * {
            color: white;
            text-align: center;
            height: 100%;
        }
        .cart-total,
        .cart-clear,
        .cart-submit {
            display: inline-block;
            float: right;
            padding: 10px 2px;
            margin: 0;
            font-style: normal;
            font-weight: bold;
        }
        .cart-clear {
            background: red;
        }
        .cart-submit {
            background: @primary-color;
        }
    }
    div.profile-container {
        margin-top: 50px;
        .weui_panel_bd {
            padding-top: 1px;
        }
    }
    div.bar {
        height: 40px;
        background: @primary-color;
        text-align: center;
        font-size: 25px;
        color: white;
        * {
            color: white;
        }
    }
    .car-empty {
        margin-top: 30%;
        .button_sp_area {
            text-align: center;
        }
    }
    /*
    address
     */
    div.address {
        .weui_media_box {
            padding-right: 30px;
            .weui_media_title {
                margin: 0;
            }
        }
        .phone {
            margin-left: 30px;
        }
        .address-default {
            position: absolute;
            right: 10px;
            top: 45%;
            font-size: 20px;
            color: @color-grey;
        }
        .active {
            color: @primary-color;
        }
    }
}
