<div class="appeal">
    <div class="cell">
        <div class="cell_bd">
            <textarea class="textarea" placeholder="请输入评论" rows="5"></textarea>
            <div class="textarea_counter"><span>0</span>/200</div>
        </div>
        <div class="uploader_bd">
            <ul class="uploader_files">
                <li class="uploader_file" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)"></li>
                <li class="uploader_file" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)"></li>
                <li class="uploader_file" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)"></li>
                <li class="uploader_file uploader_status" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)">
                    <div class="uploader_status_content">
                        <i class="icon_warn"></i>
                    </div>
                </li>
                <li class="uploader_file uploader_status" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)">
                    <div class="uploader_status_content">50%</div>
                </li>
            </ul>
            <div class="uploader_input_wrp">
                <input class="uploader_input" type="file" accept="image/*" multiple="">
            </div>
        </div>
    </div>
    <div class="cell cell-nopadding">
        <div class="content">
            <div class="content-bd">
                <span class="name">录音证据</span>
                <span class="btn">删除</span>
                <span class="btn">编辑</span>
            </div>
            <div class="content-hd">
                <span class="key">房源信息</span>
                <span class="value">银春小区－87-0301</span>
            </div>
            <div class="content-hd">
                <span class="key">跟进时间</span>
                <span class="value">2016年09月20 周二 16:35</span>
            </div>
        </div>
    </div>
    <div class="cell cell-nopadding">
        <div class="content">
            <div class="content-bd">
                <span class="name">录音证据</span>
                <span class="btn">删除</span>
                <span class="btn">编辑</span>
            </div>
            <div class="content-hd">
                <span class="key">房源信息</span>
                <span class="value">银春小区－87-0301</span>
            </div>
            <div class="content-hd">
                <span class="key">跟进时间</span>
                <span class="value">2016年09月20 周二 16:35</span>
            </div>
        </div>
    </div>

    <div class="cell cell-nopadding">
        <div class="content">
            <div class="content-bd" (click)="house()">
                ＋添加录音证据
            </div>
        </div>
    </div>

    <div class="cell cell-nopadding cell-transparent text-right" (click)="house()">
        <div class="content">
            <div class="content-bd">
                申诉帮助
            </div>
        </div>
    </div>
</div>