<div class="container-fluid container-border" routerLink='detail/1'>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <span class="title">房源跟进违规</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            <span class="time-left text-grey">昨天</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            银春小区－87-0301
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <span class="text-grey">带看时间：16/09/29 10:35</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            <span class="text-red">审核中</span>
        </div>
    </div>
</div>
<div class="container-fluid container-border" routerLink='detail/2'>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <span class="title">房源跟进违规</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            <span class="time-left text-grey">昨天</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            银春小区－87-0301
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <span class="text-grey">带看时间：16/09/29 10:35</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            <span class="text-red">将累计第二次</span>
        </div>
    </div>
</div>